name: Create and Sync GitHub Issue to Jira
on:
  issues:
    types: [opened]

jobs:
  create_jira_issue:
    runs-on: ubuntu-latest
    steps:
      - name: Jira Login
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}

      - name: Create Jira Issue
        uses: atlassian/gajira-create@v3
        with:
          project: YOUR_PROJECT_KEY
          issuetype: ${{ github.event.issue.labels[0].name == 'bug' && 'Bug' || 'Task' }}
          summary: "${{ github.event.issue.title }}"
          description: |
            GitHub Issue: ${{ github.event.issue.html_url }}
            ${{ github.event.issue.body }}
